# Visual Code configurations
.vscode/*

# binary folder
bin/

# Objects and dependency folder
obj/

# MacBook config file for Finder
.DS_Store

# Folder with some notes
examples/

# testing machine
include/catch.hpp

